In [5]:
import os

NameError: name '__file__' is not defined

In [6]:
APP_PATH = ""
df = pd.read_csv(os.path.join(APP_PATH, os.path.join("data", "spc_data.csv")))

In [7]:
df

,Batch,Diameter,Etch1,Film-Thickness,Etch2,Line-Width,Overlay,Volume
0,1,0.429,0.43025,49512,308.75,810,1759,315.5
1,2,0.421,0.43300,47101,306.75,824,1746,305.5
2,3,0.417,0.42850,60023,311.75,765,1482,330.5
3,4,0.421,0.43775,55428,322.75,933,1857,319.5
4,5,0.421,0.41725,46442,312.50,686,1844,323.5
...,...,...,...,...,...,...,...,...
648,649,0.425,0.46625,50139,314.25,910,1561,304.0
649,650,0.421,0.43200,51747,312.75,872,1549,317.5
650,651,0.421,0.42400,42278,307.25,854,1433,304.0
651,652,0.429,0.44425,50548,311.75,864,1496,313.0
652,653,0.421,0.42675,42970,294.25,770,1354,287.5

In [10]:
def init_df():
    """data manipulation"""
    ret = {}
    for col in list(df[1:]):
        data = df[col]
        stats = data.describe()

        std = stats["std"].tolist()
        ucl = (stats["mean"] + 3 * stats["std"]).tolist()
        lcl = (stats["mean"] - 3 * stats["std"]).tolist()
        usl = (stats["mean"] + stats["std"]).tolist()
        lsl = (stats["mean"] - stats["std"]).tolist()

        ret.update(
            {
                col: {
                    "count": stats["count"].tolist(),
                    "data": data,
                    "mean": stats["mean"].tolist(),
                    "std": std,
                    "ucl": round(ucl, 3),
                    "lcl": round(lcl, 3),
                    "usl": round(usl, 3),
                    "lsl": round(lsl, 3),
                    "min": stats["min"].tolist(),
                    "max": stats["max"].tolist(),
                    "ooc": populate_ooc(data, ucl, lcl),
                }
            }
        )

    return ret

def populate_ooc(data, ucl, lcl):
    """Count out of control"""
    ooc_count = 0
    ret = []
    for i in range(len(data)):
        if data[i] >= ucl or data[i] <= lcl:
            ooc_count += 1
            ret.append(ooc_count / (i + 1))
        else:
            ret.append(ooc_count / (i + 1))
    return ret

In [39]:
params = list(df)

In [41]:
params

['Batch',
 'Diameter',
 'Etch1',
 'Film-Thickness',
 'Etch2',
 'Line-Width',
 'Overlay',
 'Volume']

In [40]:
list({"label": param, "value": param} for param in params[1:])

[{'label': 'Diameter', 'value': 'Diameter'},
 {'label': 'Etch1', 'value': 'Etch1'},
 {'label': 'Film-Thickness', 'value': 'Film-Thickness'},
 {'label': 'Etch2', 'value': 'Etch2'},
 {'label': 'Line-Width', 'value': 'Line-Width'},
 {'label': 'Overlay', 'value': 'Overlay'},
 {'label': 'Volume', 'value': 'Volume'}]

In [31]:
 #how to access column names 
 for col in list(df[1:]):
    print(col)

Batch
Diameter
Etch1
Film-Thickness
Etch2
Line-Width
Overlay
Volume